---
import { z } from "zod";
import Layout from "../layouts/Layout.astro";

const artistSchema = z.object({
  name: z.string(),
});
const venueSchema = z.object({
  name: z.string(),
});
const eventListSchema = z.array(
  z.object({
    name: z.string(),
    artists: z.array(artistSchema),
    venue: venueSchema,
  })
);
const events = await fetch(
  `${import.meta.env.API_SERVER}/api/events?populate=*`
)
  .then((response) => response.json())
  .then((response) => eventListSchema.parse(response.data));
---

<Layout>
  <main class="px-gutter">
    <h1 class="font-bold">Schedule</h1>
    {
      events.map((event) => (
        <>
          <h2>{event.name}</h2>
          <h3>{event.artists.map((artist) => artist.name).join(", ")}</h3>
          <h3>{event.venue.name}</h3>
        </>
      ))
    }
  </main>
</Layout>
